.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.nav-item:hover{
color: lightseagreen;
}
.love-tltle{
    color:#E02C6D;
    margin-right: 600px;
}
.btn-tltle{
    border: 0px;
    border-radius: 10px;
    background-color: rgb(150, 196, 240);
    padding: 10px;
    color: white;
}
.half-width{
    margin-top: 70px;
}
.containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.person{
    text-align: center;
    box-shadow: 10px 10px 60px rgb(227, 233, 239);
    border-radius: 25px;
    padding: 20px;
    padding-left: 25px;
}
.document{
    padding-left: 25px;
}

.convention{
margin-top: 50px;
margin-left: 700px;    
}
.footer-container{
    color: #E02C6D;
    text-align: center;
    background-color: #0A0826;
    padding: 50px;
    margin-top: 30px;
}